:root{
    --cor-fundo: #360542 ;
    --cor-principal: #5a1c4fec ;
    --cor-secundaria: #332133; 
    --cor-destaque: #cc2bfd;
    --cor-texto: #D7F9FF;

}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.musica {
  position: absolute;
  top: 0;
  left: 0;
}
.link{
    text-decoration: none;
     display: inline-block;
     padding: 10px 20px;
      background-color: var(--cor-principal);
      color: var(--cor-destaque);
      text-align: center;
      border: none;
      border-radius: 15px;
      cursor: pointer;
}

.link:hover{
    background-color: rgb(80, 45, 112);
}
.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    border-radius: 25px;
}

h1{
    color: var(--cor-destaque);
}

button {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.3s;
}

button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
    border-radius: 5px;
}